[Unit]
Description=Bloom canonical IPv6 ceremony listener for login UID %i

[Socket]
ListenStream=[::1]:18734
FileDescriptorName=broker-ceremony-ipv6
Service=bloom-broker@%i.service
Accept=no
FreeBind=no
ReusePort=no
Backlog=128
IPAddressDeny=any
IPAddressAllow=localhost

[Install]
WantedBy=sockets.target
